/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  width: 100%;
  float: left;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 35%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}
#total-length{
  background-color: tan;
  text-align: center;
}

.sidebar {
  height: 100%; 
  width: 0; /* it's changing in js by open() func */
  position: fixed; 
  background-color: rgba(4, 4, 4, 0.85); 
  color: bisque;
  overflow: auto; 
  transition: 0.3s; /* 0.3 second transition effect to slide in the sidebar */
  text-align: center;
  font-size: 15px;
  right: 0;
}
.openbtn {
  font-size: 15px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 5px 7.5px;
  border: none;
}
h2{
  text-align: center;
  text-decoration:underline;
}
li:nth-child(odd){
  background-color: dimgrey;
}










/*#info{   marker başlık alanı
  height: 10%; 
  width: 20%;
  float: right;
  background-color: rgba(4, 4, 4, .7);
  color: rgba(255, 127, 127, 1);
} */
/*#markers{
  height: 100%;
  width: 20%;
  float: right;
  background-color: rgba(4, 4, 4, .7);
  color: bisque;
  overflow:auto;
  text-align: center;
  font-size: 15px;
}*/

/* The sidebar links 
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}*/
