/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  width: 80%;
  float: left;
}
#info{
  height: 10%;
  width: 20%;
  float: right;
  background-color: rgb(220, 245, 244);
}

h2{
  text-align: center;
}

#total-length{
  display: inline;
}
#marker{
  background-color: rgb(54, 158, 243);
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}